*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.settings/
/.project
/.classpath
/target/
/output/
/bin/

/.idea/
*.iml
/scenarios/Nyc-drt-scenario/output/
/src/main/R/taxi_zones.dbf
/src/main/R/taxi_zones.prj
/src/main/R/taxi_zones.sbn
/src/main/R/taxi_zones.sbx
/src/main/R/taxi_zones.shp
/src/main/R/taxi_zones.shp.xml
/src/main/R/taxi_zones.shx
/src/main/R/taxi_zones.zip
/src/main/R/yellow_tripdata_2022-08.parquet
/scenarios/Nyc-drt-scenario/new-york-epsg2263.network.xml.gz
/scenarios/Nyc-drt-scenario/new-york-latest.osm.pbf
/scenarios/Nyc-drt-scenario/new-york-network.osm.pbf
